body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    background-color: yellow; /* Fondo amarillo */
}

.inputs {
    margin: 20px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#solvebtn {
    width: 75%; /* Aumento del ancho al 75% */
    padding: 20px 0px; /* Aumento del padding a 20px arriba y abajo */
    background-color: rgb(226, 208, 43);
    color: white; /* Texto blanco */
    border-style: none;
    border-radius: 5px;
    font-size: 3em; /* El triple de grande */
}

#varcount {
    width: 30px;
    margin: 10px 0;
}

#displayinput {
    background-color: yellow; /* Fondo amarillo */
    width: fit-content;
    padding: 20px;
    margin: 10px;
}

#displayinput input {
    width: 30px;
}

.binary {
    letter-spacing: 10px;
    font-family: 'Bahnschrift', sans-serif; /* Cambio de fuente a Bahnschrift */
    font-size: 32px; /* El doble de grande */
    color: black; /* Texto negro */
}

.row {
    display: flex;
    gap: 10px;
}

.row .decimal {
    font-family: 'Bahnschrift', sans-serif; /* Cambio de fuente a Bahnschrift */
    letter-spacing: 0;
    width: 30px;
    font-size: 32px; /* El doble de grande */
    color: black; /* Texto negro */
}

#booleanfunction {
    color: white; /* Texto blanco */
    font-weight: bold;
    margin: 10px 0;
    font-size: 2em; /* El doble de grande */
    font-family: 'Bahnschrift', sans-serif; /* Cambio de fuente a Bahnschrift */
}

#booleanfunction.active {
    background-color: rgb(226, 222, 6);
    padding: 10px;
}

#notebook {
    width: 100%;
    padding: 10px;
    display: none;
}

#notebook.active {
    display: block;
}

.mintermheader {
    font-size: 1.8em; /* El doble de grande */
}

.mintermheader span {
    padding: 0 5px;
    overflow: hidden;
    font-size: 4em; /* El doble de grande */
    background-color: #ddd;
    color: black; /* Texto negro */
}

#mdcontainer {
    font-family: 'Bahnschrift', sans-serif; /* Cambio de fuente a Bahnschrift */
    display: flex;
    flex-direction: column; /* Cambio de dirección de fila a columna */
    align-items: center; /* Alineación al centro */
    gap: 20px;
}

#mdcontainer div {
    display: flex;
    flex-direction: column; /* Cambio de dirección de fila a columna */
}

#mdcontainer div div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.6em; /* El doble de grande */
}

#mdcontainer div input {
    width: 80%;
    height: 100%;
}

#or {
    font-size: 3em; /* El doble de grande */
    color: black; /* Texto negro */
    content: "ms bound"; /* Cambio de texto a "ms bound" */
}

@media (max-width: 500px) { /* Cambio a max-width para la regla de medios */
    body {
        flex-direction: column-reverse;
        align-items: center;
    }
}
